openapi: 3.1.0
info:
  title: VIPLEV API
  description: REST API for the VIPLEV benchmarking and test platform
  version: 3.0.0
servers:
- url: http://api.viplev.ringhus.dk
  description: Generated server url
tags:
- name: Auth
  description: Authentication for agents and users
- name: Environment
  description: Everything about your Environments
- name: Benchmark
  description: Everything about your Benchmarks
- name: Benchmark Actions
  description: "Lifecycle management for benchmarks (start, stop, status)"
- name: Agent
  description: This section is only for the agent
- name: Benchmark Runs
  description: Results and metrics from benchmark executions
paths:
  /v1/environments/{environmentId}:
    get:
      tags:
      - Environment
      summary: Get an environment
      operationId: getEnvironment
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Environment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    put:
      tags:
      - Environment
      summary: Update an environment
      operationId: updateEnvironment
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentDTO"
        required: true
      responses:
        "200":
          description: Environment updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    delete:
      tags:
      - Environment
      summary: Delete an environment
      operationId: deleteEnvironment
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Environment deleted
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}:
    get:
      tags:
      - Benchmark
      summary: Get a benchmark
      description: "Shows meta data about the benchmark, as well a list of all runs\
        \ for the current benchmark."
      operationId: getBenchmark
      parameters:
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Benchmark found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    put:
      tags:
      - Benchmark
      summary: Update a benchmark
      operationId: updateBenchmark
      parameters:
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BenchmarkDTO"
        required: true
      responses:
        "200":
          description: Benchmark updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    delete:
      tags:
      - Benchmark
      summary: Delete a benchmark
      operationId: deleteBenchmark
      parameters:
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Benchmark deleted
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments:
    get:
      tags:
      - Environment
      summary: Get all environments
      operationId: listEnvironments
      responses:
        "200":
          description: List of all environments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EnvironmentDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    post:
      tags:
      - Environment
      summary: Create environment
      operationId: createEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentDTO"
        required: true
      responses:
        "201":
          description: Environment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/services:
    get:
      tags:
      - Environment
      summary: Get all services on an Environment
      operationId: listServices
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: List of all services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ServiceDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    post:
      tags:
      - Agent
      summary: Agent can post a list of services
      operationId: registerServices
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceRegistrationDTO"
        required: true
      responses:
        "201":
          description: Services created
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks:
    get:
      tags:
      - Benchmark
      summary: Get all benchmarks
      operationId: listBenchmarks
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: List of all benchmarks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BenchmarkDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    post:
      tags:
      - Benchmark
      summary: Create benchmark
      operationId: createBenchmark
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BenchmarkDTO"
        required: true
      responses:
        "201":
          description: Benchmark created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/start:
    post:
      tags:
      - Benchmark Actions
      summary: Start a benchmark
      description: "When this is called, a new run is created with a status of PENDING_START.\
        \  This will be blocked if there is an ongoing run for the benchmark. "
      operationId: startBenchmark
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "201":
          description: Benchmark run created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkStatusDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "409":
          description: Resource state conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs/{runId}/stop:
    post:
      tags:
      - Benchmark Actions
      summary: Stop a benchmark run
      description: Stops an ongoing benchmark run. Returns 409 if the run is not in
        a stoppable state.
      operationId: stopBenchmarkRun
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Benchmark run stopped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkStatusDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "409":
          description: Resource state conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs/{runId}/status:
    post:
      tags:
      - Agent
      summary: Update run with a status
      description: "This endpoint is used to update the run status, if failed, error\
        \ messages must be included"
      operationId: updateBenchmarkRunStatus
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BenchmarkRunStatusUpdateDTO"
        required: true
      responses:
        "200":
          description: Status updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkRunDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs/{runId}/metrics/resource:
    post:
      tags:
      - Agent
      summary: Store resource metrics
      description: "Used by the agent to send resource metrics (CPU, memory, disk,\
        \ network etc.) during a benchmark run (every 5 seconds)"
      operationId: storeResourceMetrics
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricResourceDTO"
        required: true
      responses:
        "201":
          description: Resource metrics stored
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs/{runId}/metrics/performance:
    post:
      tags:
      - Agent
      summary: Store performance metrics
      description: "Used by the agent to send k6 performance metrics (response times,\
        \ throughput, error rates etc.) when the test completes"
      operationId: storePerformanceMetrics
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricPerformanceDTO"
        required: true
      responses:
        "201":
          description: Performance metrics stored
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/auth/login:
    post:
      tags:
      - Auth
      summary: Login
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginDTO"
        required: true
      responses:
        "200":
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
  /v1/environments/{environmentId}/services/{serviceId}:
    get:
      tags:
      - Environment
      summary: Get a single service
      operationId: getService
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Service found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/runs:
    get:
      tags:
      - Benchmark Runs
      summary: Get all runs across benchmarks for an environment
      operationId: listEnvironmentRuns
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sort
        in: query
        description: "Sort field and direction, e.g. startedAt,desc. Sortable fields:\
          \ status, startedAt, finishedAt. Default: status,asc then startedAt,desc"
        required: false
        schema:
          type: string
          default: "status,asc;startedAt,desc"
      responses:
        "200":
          description: Paginated list of runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentRunsDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/message:
    get:
      tags:
      - Agent
      summary: Get list of pending messages for current environment
      description: "This endpoint is used by the agent, to see if there are any benchmarks\
        \ to start or stop."
      operationId: listMessages
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: List of pending messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MessageDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs:
    get:
      tags:
      - Benchmark Runs
      summary: Get all runs for a benchmark
      operationId: listBenchmarkRuns
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: List of all runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BenchmarkRunDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs/{runId}:
    get:
      tags:
      - Benchmark Runs
      summary: Get a run
      description: Returns run metadata and derived metrics
      operationId: getBenchmarkRun
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: percentiles
        in: query
        description: "Comma-separated list of percentiles to include (e.g. p99,p999)"
        required: false
        schema:
          type: string
          default: "p90,p95"
      responses:
        "200":
          description: Run found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkRunDerivedDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
    delete:
      tags:
      - Benchmark Runs
      summary: Delete a run
      operationId: deleteBenchmarkRun
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: Run deleted
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
  /v1/environments/{environmentId}/benchmarks/{benchmarkId}/runs/{runId}/raw:
    get:
      tags:
      - Benchmark Runs
      summary: Get raw data for a run
      description: Returns all raw resource and performance metrics for a run as time-series
        data
      operationId: getBenchmarkRunData
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: benchmarkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Raw metrics found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarkRunRawDTO"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDTO"
      security:
      - bearerAuth: []
components:
  schemas:
    EnvironmentDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID for environment
          readOnly: true
        name:
          type: string
          description: Name of environment
        description:
          type: string
          description: Description of environment
        type:
          type: string
          description: Container platform type
          enum:
          - docker
          - kubernetes
        token:
          type: string
          description: "Authentication token for the agent, generated by the system"
          readOnly: true
        agentCommand:
          type: string
          description: Generated command to spin up the agent (e.g. docker run or
            kubectl apply)
          readOnly: true
        agentLastSeenAt:
          type: string
          format: date-time
          description: Timestamp when the agent last polled the server
          readOnly: true
        createdAt:
          type: string
          format: date-time
          description: Timestamp when environment was created
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when environment was last updated
          readOnly: true
      required:
      - name
      - type
    ErrorDTO:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type
        title:
          type: string
          description: "A short, human-readable description of the problem type"
        status:
          type: integer
          format: int32
          description: HTTP status code
        detail:
          type: string
          description: A detailed explanation of the problem
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence of the problem
    BenchmarkDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID for benchmark
          readOnly: true
        name:
          type: string
          description: Name of benchmark
        description:
          type: string
          description: Description of benchmark
        k6Instructions:
          type: string
          description: K6 test script to be executed by the agent
        createdAt:
          type: string
          format: date-time
          description: Timestamp when benchmark was created
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when benchmark was last updated
          readOnly: true
      required:
      - name
    HostDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID for host
          readOnly: true
        name:
          type: string
          description: Hostname
        machineId:
          type: string
          description: Unique machine identifier (e.g. /etc/machine-id on Linux)
        ipAddress:
          type: string
          description: IP address of the host
        os:
          type: string
          description: Operating system name
        osVersion:
          type: string
          description: Operating system version
        cpuModel:
          type: string
          description: CPU model name
        cpuCores:
          type: integer
          format: int32
          description: Number of physical CPU cores
        cpuThreads:
          type: integer
          format: int32
          description: Number of CPU threads
        ramTotalBytes:
          type: integer
          format: int64
          description: Total RAM in bytes
        ramSpeedMhz:
          type: integer
          format: int32
          description: RAM speed in MHz
        ramType:
          type: string
          description: "RAM type (e.g. DDR4, DDR5)"
      required:
      - ipAddress
      - machineId
      - name
      - os
    ServiceRegistrationDTO:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: "#/components/schemas/ServiceRegistrationServiceDTO"
        hosts:
          type: array
          items:
            $ref: "#/components/schemas/HostDTO"
      required:
      - hosts
      - services
    ServiceRegistrationServiceDTO:
      type: object
      properties:
        serviceName:
          type: string
          description: Logical service name (from Docker label or container name)
        imageSha:
          type: string
          description: SHA hash of the container image
        imageName:
          type: string
          description: Name of the container image
        cpuLimit:
          type: number
          format: double
          description: CPU limit allocated to the service
        cpuReservation:
          type: number
          format: double
          description: CPU reservation for the service
        memoryLimitBytes:
          type: integer
          format: int64
          description: Memory limit in bytes
        memoryReservationBytes:
          type: integer
          format: int64
          description: Memory reservation in bytes
        replicas:
          type: array
          items:
            $ref: "#/components/schemas/ServiceReplicaDTO"
      required:
      - replicas
      - serviceName
    ServiceReplicaDTO:
      type: object
      properties:
        containerId:
          type: string
          description: Docker container ID (SHA hash)
        containerName:
          type: string
          description: Human-readable container name
        machineId:
          type: string
          description: Reference to host machine
        startedAt:
          type: string
          format: date-time
          description: When the container was started
      required:
      - containerId
      - containerName
      - machineId
    BenchmarkStatusDTO:
      type: object
      properties:
        benchmarkId:
          type: string
          format: uuid
          description: ID of the benchmark
        runId:
          type: string
          format: uuid
          description: ID of the run
        status:
          type: string
          description: Current status of the run
          enum:
          - PENDING_START
          - STARTED
          - PENDING_STOP
          - STOPPED
          - FINISHED
          - FAILED
    BenchmarkRunDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID for the run
          readOnly: true
        startedBy:
          type: string
          format: uuid
          description: ID of the user who started the run
          readOnly: true
        status:
          type: string
          description: Current status of the run
          enum:
          - PENDING_START
          - STARTED
          - PENDING_STOP
          - STOPPED
          - FINISHED
          - FAILED
        statusReason:
          type: string
          description: Reason for the current status (e.g. error message on failure)
        startedAt:
          type: string
          format: date-time
          description: Timestamp when run was started
          readOnly: true
        finishedAt:
          type: string
          format: date-time
          description: Timestamp when run finished
          readOnly: true
        createdAt:
          type: string
          format: date-time
          description: Timestamp when run was created
          readOnly: true
    BenchmarkRunStatusUpdateDTO:
      type: object
      properties:
        status:
          type: string
          description: New status for the run
          enum:
          - STARTED
          - STOPPED
          - FINISHED
          - FAILED
        statusReason:
          type: string
          description: Error message (required when status is FAILED)
      required:
      - status
    MetricDataPointDTO:
      type: object
      properties:
        collectedAt:
          type: string
          format: date-time
          description: Timestamp when metric was collected
        cpuPercentage:
          type: number
          format: double
          description: CPU usage percentage
        memoryUsageBytes:
          type: number
          format: double
          description: Memory usage in bytes
        memoryLimitBytes:
          type: number
          format: double
          description: Memory limit in bytes
        networkInBytes:
          type: number
          format: double
          description: Network bytes received
        networkOutBytes:
          type: number
          format: double
          description: Network bytes sent
        blockInBytes:
          type: number
          format: double
          description: Block I/O bytes read
        blockOutBytes:
          type: number
          format: double
          description: Block I/O bytes written
      required:
      - collectedAt
    MetricResourceDTO:
      type: object
      description: Wrapper for resource metrics sent by the agent
      properties:
        hosts:
          type: array
          items:
            $ref: "#/components/schemas/MetricResourceNodeDTO"
      required:
      - hosts
    MetricResourceNodeDTO:
      type: object
      properties:
        machineId:
          type: string
          description: Machine identifier known by the agent
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/MetricDataPointDTO"
        services:
          type: array
          items:
            $ref: "#/components/schemas/MetricResourceServiceDTO"
      required:
      - machineId
      - metrics
    MetricResourceServiceDTO:
      type: object
      properties:
        serviceName:
          type: string
          description: Docker service name known by the agent
        replicas:
          type: array
          description: Replica-level metrics for all containers of this service (single
            container = 1 replica)
          items:
            $ref: "#/components/schemas/MetricResourceServiceReplicaDTO"
      required:
      - replicas
      - serviceName
    MetricResourceServiceReplicaDTO:
      type: object
      properties:
        containerId:
          type: string
          description: Docker container ID
        startedAt:
          type: string
          format: date-time
          description: When the container was started
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/MetricDataPointDTO"
      required:
      - containerId
      - metrics
    MetricK6HttpDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        collectedAt:
          type: string
          format: date-time
          description: Timestamp when metric was collected
        url:
          type: string
          description: Request URL
        httpMethod:
          type: string
          description: HTTP method used
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
        requestGroup:
          type: string
          description: K6 request group name
        httpStatus:
          type: integer
          format: int32
          description: Actual HTTP status code
        expectedStatus:
          type: integer
          format: int32
          description: Expected HTTP status code
        dataReceivedByte:
          type: integer
          format: int32
          description: Bytes received in the response
        dataSentByte:
          type: integer
          format: int32
          description: Bytes sent in the request
        httpReqDurationMs:
          type: integer
          format: int32
          description: Total request duration in milliseconds
        httpReqWaitingMs:
          type: integer
          format: int32
          description: Time to first byte (TTFB) in milliseconds
      required:
      - collectedAt
      - dataReceivedByte
      - dataSentByte
      - expectedStatus
      - httpMethod
      - httpReqDurationMs
      - httpReqWaitingMs
      - httpStatus
      - url
    MetricK6VusDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        collectedAt:
          type: string
          format: date-time
          description: Timestamp when metric was collected
        vus:
          type: integer
          format: int32
          description: Number of virtual users active at this point
      required:
      - collectedAt
      - vus
    MetricPerformanceDTO:
      type: object
      description: Wrapper for K6 performance metrics sent by the agent
      properties:
        httpMetrics:
          type: array
          items:
            $ref: "#/components/schemas/MetricK6HttpDTO"
        vusMetrics:
          type: array
          items:
            $ref: "#/components/schemas/MetricK6VusDTO"
    LoginDTO:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          readOnly: true
        email:
          type: string
        password:
          type: string
        token:
          type: string
          readOnly: true
      required:
      - email
      - password
    ServiceDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID for service
          readOnly: true
        serviceName:
          type: string
          description: Stable service name (e.g. mystack_nginx.1)
        imageSha:
          type: string
          description: SHA hash of the container image
        imageName:
          type: string
          description: Name of the container image
        cpuLimit:
          type: number
          format: double
          description: CPU limit allocated to the service
        cpuReservation:
          type: number
          format: double
          description: CPU reservation for the service
        memoryLimitBytes:
          type: integer
          format: int64
          description: Memory limit in bytes
        memoryReservationBytes:
          type: integer
          format: int64
          description: Memory reservation in bytes
      required:
      - serviceName
    EnvironmentRunSummaryDTO:
      type: object
      description: Summary of a single run within an environment
      properties:
        benchmarkId:
          type: string
          format: uuid
        runId:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - PENDING_START
          - STARTED
          - PENDING_STOP
          - STOPPED
          - FINISHED
          - FAILED
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
    EnvironmentRunsDTO:
      type: object
      description: Paginated list of runs across all benchmarks in an environment
      properties:
        runs:
          type: array
          items:
            $ref: "#/components/schemas/EnvironmentRunSummaryDTO"
        pagination:
          $ref: "#/components/schemas/PaginationDTO"
    PaginationDTO:
      type: object
      description: Pagination metadata for paginated responses
      properties:
        page:
          type: integer
          format: int32
          description: Current page number (zero-based)
        size:
          type: integer
          format: int32
          description: Number of items per page
        totalElements:
          type: integer
          format: int32
          description: Total number of elements
        totalPages:
          type: integer
          format: int32
          description: Total number of pages
    MessageDTO:
      type: object
      properties:
        benchmarkId:
          type: string
          format: uuid
          description: ID of the benchmark
        runId:
          type: string
          format: uuid
          description: ID of the run
        messageType:
          type: string
          description: Type of message for the agent
          enum:
          - PENDING_START
          - PENDING_STOP
        benchmarkData:
          $ref: "#/components/schemas/BenchmarkDTO"
          description: Benchmark payload included for PENDING_START messages
    BenchmarkRunDerivedDTO:
      type: object
      description: "Top-level wrapper for aggregated summary stats for a benchmark\
        \ run. Percentiles are dynamic via ?percentiles query param (default p90,\
        \ p95)"
      properties:
        run:
          $ref: "#/components/schemas/BenchmarkRunDTO"
        http:
          type: array
          description: HTTP summary grouped per request group
          items:
            $ref: "#/components/schemas/DerivedHttpSummaryDTO"
        vus:
          $ref: "#/components/schemas/DerivedVusSummaryDTO"
        hosts:
          type: array
          items:
            $ref: "#/components/schemas/DerivedHostSummaryDTO"
    DerivedHostSummaryDTO:
      type: object
      description: "Aggregated resource stats for a single host, with nested service\
        \ summaries"
      properties:
        hostId:
          type: string
          format: uuid
        hostName:
          type: string
        resource:
          $ref: "#/components/schemas/DerivedResourceSummaryDTO"
        services:
          type: array
          items:
            $ref: "#/components/schemas/DerivedServiceSummaryDTO"
    DerivedHttpSummaryDTO:
      type: object
      description: Aggregated HTTP metrics for a single request group
      properties:
        requestGroup:
          type: string
        url:
          type: string
        totalRequests:
          type: integer
          format: int32
        requestsPerSecond:
          type: number
          format: double
        errorRate:
          type: number
          format: double
          description: Percentage of requests where httpStatus != expectedStatus
        totalDataReceivedBytes:
          type: integer
          format: int64
        totalDataSentBytes:
          type: integer
          format: int64
        duration:
          $ref: "#/components/schemas/DerivedHttpTimingDTO"
        waiting:
          $ref: "#/components/schemas/DerivedHttpTimingDTO"
    DerivedHttpTimingDTO:
      type: object
      description: Timing statistics for HTTP metrics (duration or waiting/TTFB).
        Percentiles are a dynamic map based on query parameter
      properties:
        avg:
          type: number
          format: double
        min:
          type: number
          format: double
        max:
          type: number
          format: double
        median:
          type: number
          format: double
        percentiles:
          type: object
          additionalProperties:
            type: number
            format: double
          description: "Dynamic percentile map, e.g. { \"p90\": 45.2, \"p95\": 78.1\
            \ }"
    DerivedResourceStatsDTO:
      type: object
      description: Statistics for a single resource metric (e.g. CPU or memory). Percentiles
        are a dynamic map based on query parameter
      properties:
        avg:
          type: number
          format: double
        max:
          type: number
          format: double
        percentiles:
          type: object
          additionalProperties:
            type: number
            format: double
          description: "Dynamic percentile map, e.g. { \"p90\": 75.2, \"p95\": 88.1\
            \ }"
    DerivedResourceSummaryDTO:
      type: object
      description: "Aggregated resource metrics (CPU, memory, network, block I/O).\
        \ Used by both host and service summaries"
      properties:
        cpu:
          $ref: "#/components/schemas/DerivedResourceStatsDTO"
        memory:
          $ref: "#/components/schemas/DerivedResourceStatsDTO"
        networkInTotalBytes:
          type: integer
          format: int64
        networkOutTotalBytes:
          type: integer
          format: int64
        blockInTotalBytes:
          type: integer
          format: int64
        blockOutTotalBytes:
          type: integer
          format: int64
    DerivedServiceSummaryDTO:
      type: object
      description: Aggregated resource stats for a single service running on a host
      properties:
        serviceId:
          type: string
          format: uuid
        serviceName:
          type: string
        resource:
          $ref: "#/components/schemas/DerivedResourceSummaryDTO"
    DerivedVusSummaryDTO:
      type: object
      description: Aggregated virtual user statistics for the run
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
        avg:
          type: number
          format: double
    BenchmarkRunRawDTO:
      type: object
      description: "Top-level wrapper for time-series data for a benchmark run, used\
        \ for XY-chart visualisation"
      properties:
        timeSeries:
          $ref: "#/components/schemas/RawTimeSeriesDTO"
    RawHostTimeSeriesDTO:
      type: object
      description: "Time-series resource data for a single host, with nested services"
      properties:
        hostId:
          type: string
          format: uuid
        hostName:
          type: string
        dataPoints:
          type: array
          items:
            $ref: "#/components/schemas/RawResourceDataPointDTO"
        services:
          type: array
          items:
            $ref: "#/components/schemas/RawServiceTimeSeriesDTO"
    RawK6DataPointDTO:
      type: object
      description: A single K6 data point at a given timestamp
      properties:
        timestamp:
          type: string
          format: date-time
        httpResponseTimeMs:
          type: integer
          format: int32
          description: Total HTTP request duration in milliseconds
        httpWaitingMs:
          type: integer
          format: int32
          description: Time to first byte (TTFB) in milliseconds
        vus:
          type: integer
          format: int32
          description: Number of virtual users active at this point
    RawK6TimeSeriesDTO:
      type: object
      description: Time-series data for K6 performance metrics
      properties:
        dataPoints:
          type: array
          items:
            $ref: "#/components/schemas/RawK6DataPointDTO"
    RawReplicaTimeSeriesDTO:
      type: object
      description: Time-series resource data for a single replica (container) of a
        service
      properties:
        replicaId:
          type: string
          format: uuid
        containerId:
          type: string
          description: Docker container ID
        dataPoints:
          type: array
          items:
            $ref: "#/components/schemas/RawResourceDataPointDTO"
    RawResourceDataPointDTO:
      type: object
      description: "A single resource metric data point at a given timestamp, used\
        \ by both host and service time-series"
      properties:
        timestamp:
          type: string
          format: date-time
        cpuPercentage:
          type: number
          format: double
        memoryUsageBytes:
          type: number
          format: double
        memoryLimitBytes:
          type: number
          format: double
        networkInBytes:
          type: number
          format: double
        networkOutBytes:
          type: number
          format: double
        blockInBytes:
          type: number
          format: double
        blockOutBytes:
          type: number
          format: double
    RawServiceTimeSeriesDTO:
      type: object
      description: Time-series resource data for a single service running on a host
      properties:
        serviceId:
          type: string
          format: uuid
        serviceName:
          type: string
        replicas:
          type: array
          description: Time-series data for each replica of this service
          items:
            $ref: "#/components/schemas/RawReplicaTimeSeriesDTO"
    RawTimeSeriesDTO:
      type: object
      description: Contains hosts (with nested services) and k6 time-series data
      properties:
        hosts:
          type: array
          items:
            $ref: "#/components/schemas/RawHostTimeSeriesDTO"
        k6:
          $ref: "#/components/schemas/RawK6TimeSeriesDTO"
